/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Root */

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root .background {
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  z-index: -1;
}

#root .container {
  width: 80%;
  max-width: 600px;
  height: 500px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 100px;
}

#root .content {
  --color-green: #50C878;
  --color-yellow: #F8DE7E;
  --color-red: #CA3433;

  position: relative;
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding: 20px;
}

#root a {
  transition: color 0.2s;
  color: #00b4d8;
  font-size: 20px;
}

#root a:hover {
  color: #10768a;
  cursor: pointer;
}

#root .tags {
  color: gray;
  font-size: 15px;
}

#root .easy, #root .normal, #root .hard {
  width: 75px;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  border-bottom-left-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
}

#root .content .easy {
  background-color: var(--color-green);
}

#root .content .normal {
  background-color: var(--color-yellow);
}

#root .content .hard {
  background-color: var(--color-red);
}
